name: Test dotfiles (macOS)

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  test-macos:
    runs-on: macos-latest

    steps:
      - uses: ./.github/actions/dotfiles-install

      - uses: ./.github/actions/dotfiles-test