name: Test dotfiles (Arch Linux)

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  test-arch:
    runs-on: ubuntu-latest

    container:
      image: archlinux:latest

    steps:
      - name: Bootstrap Arch container
        run: |
          pacman -Sy --noconfirm \
            base \
            base-devel \
            git \
            curl \
            sudo


      - name: Create non-root user
        run: |
          useradd -m -G wheel -s /bin/bash ci
          echo "ci ALL=(ALL) NOPASSWD: ALL" >> /etc/sudoers

      - name: Run curl installer (CI)
        env:
          CI: true
        run: |
          su - ci -c "
            curl -fsSL https://raw.githubusercontent.com/dantehemerson/.dotfiles/refs/heads/master/install.sh \
              | bash -s -- --ci
          "

      - name: Smoke test
        run: |
          command -v git
          command -v zsh || true
          command -v nvim || true

          # yay must be tested as non-root
          su - ci -c 'command -v yay'

          bash -lc 'echo shell ok'
